<div id="listBubbleMenu" class="bubble-menu p-2 d-inline-flex">
    <div class="d-flex flex-column">
        <button type="button" class="btn btn-outline-primary rounded-0 shadow-none mb-1"
                data-action="click->{{controllerIdentifier}}#executeCommand"
                data-{{controllerIdentifier}}-command-param="splitListItem">
            Split list item
        </button>
        <button type="button" class="btn btn-outline-primary rounded-0 shadow-none mb-1"
                data-action="click->{{controllerIdentifier}}#executeCommand"
                data-{{controllerIdentifier}}-command-param="sinkListItem">
            Sink list item
        </button>
        <button type="button" class="btn btn-outline-primary rounded-0 shadow-none mb-1"
                data-action="click->{{controllerIdentifier}}#executeCommand"
                data-{{controllerIdentifier}}-command-param="liftListItem">
            Lift list item
        </button>
    </div>
</div>