@model ContentItemsBackToList_ViewModel

@{
    Layout = null;
}

<div class="d-flex justify-content-between">
    @if (!string.IsNullOrEmpty(Model.BackToListUrl))
    {
        <a href="@Model.BackToListUrl">
            <svg class="icon icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path></svg>
            Back
        </a>
    }
    else
    {
        <a asp-route="contentitemsdefault" asp-route-contentType="@Model.ContentTypeDeveloperName">
            <svg class="icon icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path></svg>
            Back
        </a>
    }

    @if (Model.IsEditing)
    {
        <p>
            @if (Model.IsDraft)
            {
                <span class="badge bg-info">saved as draft</span>
            }
            @if (Model.IsPublished)
            {
                <span class="badge bg-success">published</span>
            }
            else
            {
                <span class="badge bg-danger">unpublished</span>
            }
        </p>
    }
</div>
