**/.git
**/.github
**/.cursor
**/.vs
**/.idea
**/.vscode
**/bin
**/obj
**/node_modules
**/.env
**/.env.*
!**/.env.example
**/TestResults
**/*.user
**/*.suo
**/coverage
**/.turbo
**/.pnpm-store
**/*.log
src/admin
tests
docs
*.md
!README.md
