root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,yml,yaml,csproj,props,targets}]
indent_size = 2

[*.{ts,tsx,js,jsx,css,html,cshtml,scss}]
indent_size = 2

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_sort_system_directives_first = true

[**/Migrations/*.cs]
generated_code = true
dotnet_analyzer_diagnostic.severity = none
