<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Raytha</title>
    <link rel="stylesheet" href="~/raytha_admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/raytha_admin/css/volt.css" />
    <link rel="stylesheet" href="~/raytha_admin/css/site.css" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <script src="~/raytha_admin/js/dist/main.js" asp-append-version="true"></script>
</head>
<body>   
    
<main>

@RenderBody()

</main>


    
</body>
</html>
