@model PageHeader_ViewModel

@{
    Layout = null;
}
<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">@Model.Title</h1>
            <p class="mb-0">@Model.Description</p>
        </div>
    </div>
</div>