<div class="dropdown-menu width-fit-content">
    <div class="d-flex flex-column">
        <div class="dropdown-item d-flex px-2 py-1" id="currentTime" type="button"
             data-action="click->{{controllerIdentifier}}#insertDateTime" tabindex="-1" data-item-role="currentTime">
        </div>
        <div class="dropdown-item d-flex px-2 py-1" id="currentDateIso" type="button" tabindex="-1"
             data-action="click->{{controllerIdentifier}}#insertDateTime" data-item-role="currentDateIso">
        </div>
        <div class="dropdown-item d-flex px-2 py-1" id="currentTime12" type="button" tabindex="-1"
             data-action="click->{{controllerIdentifier}}#insertDateTime" data-item-role="currentTime12">
        </div>
        <div class="dropdown-item d-flex px-2 py-1" id="currentDateUs" type="button" tabindex="-1"
             data-action="click->{{controllerIdentifier}}#insertDateTime" data-item-role="currentDateUs">
        </div>
    </div>
</div>