@model string 

<div class="py-2">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">@Model</h1>
            <p class="mb-0"></p>
        </div>
    </div>
</div>

