<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8">
      <h3>{{ Target.PrimaryField }}</h3>
      {{ Target.PublishedContent.content.Text }}
    </div>
  </div>
</div>