<p>Hello {{ Target.FirstName }},</p>

<p>Your password has been changed on
  <a href="{{ CurrentOrganization.WebsiteUrl }}">{{ CurrentOrganization.WebsiteUrl }}</a>.</p>

<p>Thank you,<br/>
  {{ CurrentOrganization.OrganizationName }}</p>