<div class="mb-2">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
	</svg>
	<a href="/account/login">Back</a>
</div>
<h3>Forgot password</h3>
{% if Target.ValidationFailures["__ValidationSummary"] %}
<div class="alert alert-danger">
	{{ Target.ValidationFailures["__ValidationSummary"] }}
</div>
{% endif %}
<form
  action="{{ PathBase }}/account/login/forgot-password/begin"
  method="post">
	<div class="mb-3">
		<label for="email" class="form-label">Email address</label>
		<input
		  id="email"
		  type="email"
		  name="EmailAddress"
		  class="form-control">
		</div>
	<div>
		<button type="submit" class="btn btn-primary w-100">Email me a password reset link</button>
	</div>
	<input
	  name="__RequestVerificationToken"
	  type="hidden"
	  value="{{ Target.RequestVerificationToken }}" />
</form>