<div class="ud-login-logo">
	<a href="/account/login">
		<svg class="icon icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path>
		</svg>
		Back
	</a>
	<h3>Forgot password</h3>
</div>
{% if Target.ValidationFailures["__ValidationSummary"] %}
<div class="alert alert-danger">
	{{ Target.ValidationFailures["__ValidationSummary"] }}
</div>
{% endif %}
<form
  class="ud-login-form"
  action="{{ PathBase }}/account/login/forgot-password/begin"
  method="post">
	<div class="ud-form-group">
		<label for="email" class="form-label">Email address</label>
		<input
		  id="email"
		  type="email"
		  name="EmailAddress">
		</div>
	<div class="ud-form-group">
		<button type="submit" class="ud-main-btn w-100">Email me a password reset link</button>
	</div>
	<input
	  name="__RequestVerificationToken"
	  type="hidden"
	  value="{{ Target.RequestVerificationToken }}" />
</form>