<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8">
      <p>The resource you attempted to visit was not found</p>
      {% if Target.ErrorId %}
      <p>Error id: {{ Target.ErrorId }}</p>
      {% endif %}
    </div>
  </div>
</div>