<p>Hello {{ Target.FirstName }},</p>

<p>
  You have successfully recovered your password. You may login at
  <a href="{{ Target.LoginUrl }}">{{ Target.LoginUrl }}</a>.
</p>

<p>
  Thank you,<br/>
  {{ CurrentOrganization.OrganizationName }}
</p>