<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8">
		<p>
			You have successfully created your account.
			<a href="{{ PathBase }}/account/login">Click here</a>
			to login.
		</p>
    </div>
  </div>
</div>