<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8">
		<p>An unknown error has occurred</p>
		{% if Target.ErrorId %}
		<p>Error id: {{ Target.ErrorId }}</p>
		{% endif %}
        {% if Target.ErrorMessage %}
        <p>{{ Target.ErrorMessage }}</p>
        {% endif %}
        {% if Target.IsDevelopmentMode %}
        <p>{{ Target.StackTrace }}</p>
        {% endif %}
    </div>
  </div>
</div>