<section class="ud-wrapper ud-login">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-login-wrapper">
          {% renderbody %}
        </div>
      </div>
    </div>
  </div>
</section>