<div class="modal fade" id="specialCharactersModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Special characters</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-underline me-3" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#v-pills-currency"
                                type="button" role="tab">
                            Currency
                        </button>
                        <button class="nav-link" data-bs-toggle="pill" data-bs-target="#v-pills-text" type="button"
                                role="tab">
                            Text
                        </button>
                        <button class="nav-link" data-bs-toggle="pill" data-bs-target="#v-pills-mathematical"
                                type="button" role="tab">
                            Mathematical
                        </button>
                        <button class="nav-link" data-bs-toggle="pill" data-bs-target="#v-pills-latin" type="button"
                                role="tab">
                            Latin
                        </button>
                        <button class="nav-link" data-bs-toggle="pill" data-bs-target="#v-pills-quotations"
                                type="button" role="tab">
                            Quotations
                        </button>
                        <button class="nav-link" data-bs-toggle="pill" data-bs-target="#v-pills-symbols" type="button"
                                role="tab">
                            Symbols
                        </button>
                        <button class="nav-link" data-bs-toggle="pill" data-bs-target="#v-pills-arrows" type="button"
                                role="tab">
                            Arrows
                        </button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-currency" role="tabpanel" tabindex="-1">
                            <div class="special-chars-grid">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-text" role="tabpanel" tabindex="-1">
                            <div class="special-chars-grid">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-mathematical" role="tabpanel" tabindex="-1">
                            <div class="special-chars-grid">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-latin" role="tabpanel" tabindex="-1">
                            <div class="special-chars-grid">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-quotations" role="tabpanel" tabindex="-1">
                            <div class="special-chars-grid">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-symbols" role="tabpanel" tabindex="-1">
                            <div class="special-chars-grid">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-arrows" role="tabpanel" tabindex="-1">
                            <div class="special-chars-grid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>