<div class="dropdown-menu width-fit-content">
    <div class="table-grid justify-content-center align-items-center" data-action="click->{{controllerIdentifier}}#insertTable">
        <div class="table-cell" data-row="1" data-col="1"></div>
        <div class="table-cell" data-row="1" data-col="2"></div>
        <div class="table-cell" data-row="1" data-col="3"></div>
        <div class="table-cell" data-row="1" data-col="4"></div>
        <div class="table-cell" data-row="1" data-col="5"></div>
        <div class="table-cell" data-row="1" data-col="6"></div>
        <div class="table-cell" data-row="1" data-col="7"></div>
        <div class="table-cell" data-row="1" data-col="8"></div>
        <div class="table-cell" data-row="1" data-col="9"></div>
        <div class="table-cell" data-row="1" data-col="10"></div>
        <div class="table-cell" data-row="2" data-col="1"></div>
        <div class="table-cell" data-row="2" data-col="2"></div>
        <div class="table-cell" data-row="2" data-col="3"></div>
        <div class="table-cell" data-row="2" data-col="4"></div>
        <div class="table-cell" data-row="2" data-col="5"></div>
        <div class="table-cell" data-row="2" data-col="6"></div>
        <div class="table-cell" data-row="2" data-col="7"></div>
        <div class="table-cell" data-row="2" data-col="8"></div>
        <div class="table-cell" data-row="2" data-col="9"></div>
        <div class="table-cell" data-row="2" data-col="10"></div>
        <div class="table-cell" data-row="3" data-col="1"></div>
        <div class="table-cell" data-row="3" data-col="2"></div>
        <div class="table-cell" data-row="3" data-col="3"></div>
        <div class="table-cell" data-row="3" data-col="4"></div>
        <div class="table-cell" data-row="3" data-col="5"></div>
        <div class="table-cell" data-row="3" data-col="6"></div>
        <div class="table-cell" data-row="3" data-col="7"></div>
        <div class="table-cell" data-row="3" data-col="8"></div>
        <div class="table-cell" data-row="3" data-col="9"></div>
        <div class="table-cell" data-row="3" data-col="10"></div>
        <div class="table-cell" data-row="4" data-col="1"></div>
        <div class="table-cell" data-row="4" data-col="2"></div>
        <div class="table-cell" data-row="4" data-col="3"></div>
        <div class="table-cell" data-row="4" data-col="4"></div>
        <div class="table-cell" data-row="4" data-col="5"></div>
        <div class="table-cell" data-row="4" data-col="6"></div>
        <div class="table-cell" data-row="4" data-col="7"></div>
        <div class="table-cell" data-row="4" data-col="8"></div>
        <div class="table-cell" data-row="4" data-col="9"></div>
        <div class="table-cell" data-row="4" data-col="10"></div>
        <div class="table-cell" data-row="5" data-col="1"></div>
        <div class="table-cell" data-row="5" data-col="2"></div>
        <div class="table-cell" data-row="5" data-col="3"></div>
        <div class="table-cell" data-row="5" data-col="4"></div>
        <div class="table-cell" data-row="5" data-col="5"></div>
        <div class="table-cell" data-row="5" data-col="6"></div>
        <div class="table-cell" data-row="5" data-col="7"></div>
        <div class="table-cell" data-row="5" data-col="8"></div>
        <div class="table-cell" data-row="5" data-col="9"></div>
        <div class="table-cell" data-row="5" data-col="10"></div>
        <div class="table-cell" data-row="6" data-col="1"></div>
        <div class="table-cell" data-row="6" data-col="2"></div>
        <div class="table-cell" data-row="6" data-col="3"></div>
        <div class="table-cell" data-row="6" data-col="4"></div>
        <div class="table-cell" data-row="6" data-col="5"></div>
        <div class="table-cell" data-row="6" data-col="6"></div>
        <div class="table-cell" data-row="6" data-col="7"></div>
        <div class="table-cell" data-row="6" data-col="8"></div>
        <div class="table-cell" data-row="6" data-col="9"></div>
        <div class="table-cell" data-row="6" data-col="10"></div>
        <div class="table-cell" data-row="7" data-col="1"></div>
        <div class="table-cell" data-row="7" data-col="2"></div>
        <div class="table-cell" data-row="7" data-col="3"></div>
        <div class="table-cell" data-row="7" data-col="4"></div>
        <div class="table-cell" data-row="7" data-col="5"></div>
        <div class="table-cell" data-row="7" data-col="6"></div>
        <div class="table-cell" data-row="7" data-col="7"></div>
        <div class="table-cell" data-row="7" data-col="8"></div>
        <div class="table-cell" data-row="7" data-col="9"></div>
        <div class="table-cell" data-row="7" data-col="10"></div>
        <div class="table-cell" data-row="8" data-col="1"></div>
        <div class="table-cell" data-row="8" data-col="2"></div>
        <div class="table-cell" data-row="8" data-col="3"></div>
        <div class="table-cell" data-row="8" data-col="4"></div>
        <div class="table-cell" data-row="8" data-col="5"></div>
        <div class="table-cell" data-row="8" data-col="6"></div>
        <div class="table-cell" data-row="8" data-col="7"></div>
        <div class="table-cell" data-row="8" data-col="8"></div>
        <div class="table-cell" data-row="8" data-col="9"></div>
        <div class="table-cell" data-row="8" data-col="10"></div>
        <div class="table-cell" data-row="9" data-col="1"></div>
        <div class="table-cell" data-row="9" data-col="2"></div>
        <div class="table-cell" data-row="9" data-col="3"></div>
        <div class="table-cell" data-row="9" data-col="4"></div>
        <div class="table-cell" data-row="9" data-col="5"></div>
        <div class="table-cell" data-row="9" data-col="6"></div>
        <div class="table-cell" data-row="9" data-col="7"></div>
        <div class="table-cell" data-row="9" data-col="8"></div>
        <div class="table-cell" data-row="9" data-col="9"></div>
        <div class="table-cell" data-row="9" data-col="10"></div>
        <div class="table-cell" data-row="10" data-col="1"></div>
        <div class="table-cell" data-row="10" data-col="2"></div>
        <div class="table-cell" data-row="10" data-col="3"></div>
        <div class="table-cell" data-row="10" data-col="4"></div>
        <div class="table-cell" data-row="10" data-col="5"></div>
        <div class="table-cell" data-row="10" data-col="6"></div>
        <div class="table-cell" data-row="10" data-col="7"></div>
        <div class="table-cell" data-row="10" data-col="8"></div>
        <div class="table-cell" data-row="10" data-col="9"></div>
        <div class="table-cell" data-row="10" data-col="10"></div>
    </div>
    <div class="text-center">0 x 0 table</div>
</div>