<div class="modal fade" id="insertVideoModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Insert video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        tabindex="-1"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-underline nav-fill" id="videoTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button type="button" class="nav-link active" data-bs-toggle="tab"
                                data-bs-target="#videoGeneral" role="tab" aria-selected="true">
                            General
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="upload-tab" data-bs-toggle="tab" data-bs-target="#uploadVideo"
                                type="button" role="tab" aria-controls="upload" aria-selected="false">
                            Upload
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="upload-tab" data-bs-toggle="tab" data-bs-target="#videoGallery"
                                type="button" role="tab" aria-controls="gallery" aria-selected="false">
                            Gallery
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="videoTabContent">
                    <div class="tab-pane fade show active" id="videoGeneral" role="tabpanel">
                        <form data-action="submit->{{controllerIdentifier}}#insertVideoByUrl">
                            <div class="form-floating my-3">
                                <input type="url" class="form-control" id="videoUrlInput" name="videoUrl" required>
                                <label for="videoUrlInput">Video URL (youtube, vimeo, file storage)</label>
                            </div>
                            <div class="d-flex my-3">
                                <div class="form-floating me-2">
                                    <input type="number" class="form-control" id="videoWidthInput" name="videoWidth" value="640" required>
                                    <label for="videoWidthInput">Width</label>
                                </div>
                                <div class="form-floating ms-auto">
                                    <input type="number" class="form-control" id="videoHeightInput" name="videoHeight" value="480" required>
                                    <label for="videoHeightInput">Height</label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">
                                    Insert video
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="uploadVideo" role="tabpanel">
                        <div class="form-floating my-3">
                            <div id="videoUploadContainer"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="videoGallery" role="tabpanel">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>