<div class="dropdown-menu width-fit-content">
    <div class="d-flex flex-column">
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#executeCommand"
             data-{{controllerIdentifier}}-command-param="insertParagraph" tabindex="-1" data-item-role="paragraph">
            <div class="flex-grow-1">
                Paragraph
            </div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#insertHeading" data-{{controllerIdentifier}}-level-param="1"
             tabindex="-1" data-item-role="heading1">
            <div class="flex-grow-1">
                Heading 1
            </div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#insertHeading" data-{{controllerIdentifier}}-level-param="2"
             tabindex="-1" data-item-role="heading2">
            <div class="flex-grow-1">
                Heading 2
            </div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#insertHeading" data-{{controllerIdentifier}}-level-param="3"
             tabindex="-1" data-item-role="heading3">
            <div class="flex-grow-1">
                Heading 3
            </div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#insertHeading" data-{{controllerIdentifier}}-level-param="4"
             tabindex="-1" data-item-role="heading4">
            <div class="flex-grow-1">
                Heading 4
            </div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#insertHeading" data-{{controllerIdentifier}}-level-param="5"
             tabindex="-1" data-item-role="heading5">
            <div class="flex-grow-1">
                Heading 5
            </div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#insertHeading" data-{{controllerIdentifier}}-level-param="6"
             tabindex="-1" data-item-role="heading6">
            <div class="flex-grow-1">
                Heading 6
            </div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#executeCommand"
             data-{{controllerIdentifier}}-command-param="insertDiv" tabindex="-1">
            <div class="flex-grow-1">
                Div
            </div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
    </div>
</div>