@model BeginForgotPassword_ViewModel
@{
    ViewData["Title"] = "Forgot password";
    Layout = "_AuthLayout";
}

<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center form-bg-image" data-background-lg="../../assets/img/illustrations/signin.svg">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                    @(await Html.PartialAsync("_BackToList", "adminloginemailandpassword"))
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3">Forgot password</h1>
                    </div>
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger mt-2">
                            @ViewData["ErrorMessage"]
                        </div>
                    }

                    @if (ViewData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success mt-2">
                            @ViewData["SuccessMessage"]
                        </div>
                    }

                    <form asp-route="adminforgotpasswordbegin" asp-route-returnUrl="@(ViewData["returnUrl"])" class="mt-4">
                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="email" asp-for="EmailAddress"></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                </span>
                                <input type="email" class="form-control" asp-for="EmailAddress" autofocus>
                            </div>  
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-gray-800">Email me a password reset link</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>