<div class="modal fade" id="sourceCodeModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form data-action="submit->{{controllerIdentifier}}#updateSourceCode">
                <div class="modal-header">
                    <h5 class="modal-title">Source code</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea class="form-control font-monospace" name="sourceCodeTextarea" id="sourceCodeTextarea" rows="20"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>