<div class="dropdown-menu width-fit-content">
    <div class="d-flex flex-column">
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#setTextAlign"
             data-{{controllerIdentifier}}-text-align-param="left">
            <div class="d-flex icon-text-align-left me-1"></div>
            <div class="flex-grow-1">Left</div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#setTextAlign"
             data-{{controllerIdentifier}}-text-align-param="center">
            <div class="d-flex icon-text-align-center me-1"></div>
            <div class="flex-grow-1">Center</div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#setTextAlign"
             data-{{controllerIdentifier}}-text-align-param="right">
            <div class="d-flex icon-text-align-right me-1"></div>
            <div class="flex-grow-1">Right</div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#setTextAlign"
             data-{{controllerIdentifier}}-text-align-param="justify">
            <div class="d-flex icon-text-align-justify me-1"></div>
            <div class="flex-grow-1">Justify</div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
    </div>
</div>