@model ThemesBackgroundTaskStatus_ViewModel
@{
    ViewData["Title"] = "Themes > Background task status";
}

@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
}))

<div class="row mb-4">
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <div data-controller="backgroundtasks--status">
                    <div class="progress">
                        <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-backgroundtasks--status-target="progressBar"></div>
                    </div>
                    <ul class="list-group" data-backgroundtasks--status-target="statusInfo">
                        <li class="list-group-item">Background task running...</li>
                    </ul>
                    <div class="d-flex justify-content-between">
                        <a asp-route="themesindex" style="display:none"data-backgroundtasks--status-target="backToView">
                            <svg class="icon icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path></svg>
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>