@model ThemesExport_ViewModel
@{
    ViewData["Title"] = "Themes > Export";
    ViewData["ActiveSubMenu"] = "Export";
}

@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
}))

<div class="row mb-4">
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body" data-controller="shared--copyclipboard">
                <form asp-route="themesexport" method="post" class="py-2">
                    <input type="hidden" asp-for="Id">
                    <div class="mb-3 row">
                        <label class="col-auto col-form-label" asp-for="IsExportable"></label>
                        <div class="col d-flex align-items-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" asp-for="IsExportable">
                            </div>
                            <div>
                                <div class="form-text">Enable the ability to export a theme by URL. Exporting a theme includes web themes and media items.</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-auto col-form-label" asp-for="Url"></label>
                        <div class="col d-flex align-items-baseline input-group">
                            <input type="text" class="form-control" asp-for="Url" disabled data-shared--copyclipboard-target="source">
                            <button type="button" class="btn btn-secondary input-group-append" data-action="click->shared--copyclipboard#copy">Copy</button>
                        </div>
                    </div>
                    <div class="toast align-items-center text-white bg-success border-0 mt-3" role="alert" aria-live="assertive"
                         aria-atomic="true" data-shared--copyclipboard-target="toast">
                        <div class="d-flex">
                            <div class="toast-body">
                                Successfully copied to the clipboard!
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                    <hr/>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @(await Html.PartialAsync("~/Areas/Admin/Views/Themes/_ActionsMenu.cshtml", new ThemesActionsMenu_ViewModel
    {
        ThemeId = Model.Id,
    }))
</div>