<div class="dropdown-menu width-fit-content" name="text-color-palette">
    <div class="color-palette">
        <button class="color-option dropdown-item" type="button" style="background-color: #bfedd2" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Light Green"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#bfedd2">
        </button>
        <button class="color-option dropdown-item" type="button" style="background-color: #fbeeb8" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Light Yellow"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#fbeeb8">
        </button>
        <button class="color-option dropdown-item" type="button" style="background-color: #f8cac6" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Light Red"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#f8cac6">
        </button>
        <button class="color-option dropdown-item" type="button" style="background-color: #eccafa" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Light Purple"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#eccafa">
        </button>
        <button class="color-option dropdown-item" type="button" tabindex="-1" style="background-color: #c2e0f4"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Light Blue"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#c2e0f4">
        </button>

        <button class="color-option dropdown-item" type="button" style="background-color: #2dc26b" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Green" data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#2dc26b"></button>
        <button class="color-option dropdown-item" type="button" style="background-color: #f1c40f" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Yellow" data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#f1c40f"></button>
        <button class="color-option dropdown-item" type="button" style="background-color: #e03e2d" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Red" data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#e03e2d"></button>
        <button class="color-option dropdown-item" type="button" style="background-color: #b96ad9" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Purple" data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#b96ad9"></button>
        <button class="color-option dropdown-item" type="button" style="background-color: #3598db" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Blue" data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#3598db"></button>

        <button class="color-option dropdown-item" type="button" style="background-color: #169179" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Dark Green"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#169179"></button>
        <button class="color-option dropdown-item" type="button" style="background-color: #e67e23" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Dark Yellow"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#e67e23"></button>
        <button class="color-option dropdown-item" type="button" style="background-color: #ba372a" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Dark Red"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#ba372a"></button>
        <button class="color-option dropdown-item" type="button" style="background-color: #843fa1" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Dark Purple"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#843fa1"></button>
        <button class="color-option dropdown-item" type="button" style="background-color: #236fa1" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Dark Blue"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#236fa1"></button>

        <button class="color-option dropdown-item" type="button" style="background-color: #ecf0f1" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Light Gray"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#ecf0f1"></button>
        <button class="color-option dropdown-item" type="button" style="background-color: #ced4d9" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Medium Grey"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#ced4d9"></button>
        <button class="color-option dropdown-item" type="button" style="background-color: #95a5a6" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Grey" data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#95a5a6"></button>
        <button class="color-option dropdown-item" type="button" style="background-color: #7e8c8d" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Dark Gray"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#7e8c8d"></button>
        <button class="color-option dropdown-item" type="button" style="background-color: #34495e" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Navy Blue"
                data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#34495e"></button>

        <button class="color-option dropdown-item" style="background-color: #000000" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Black" data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#000000" type="button">
        </button>
        <button class="color-option dropdown-item" type="button" style="background-color: #ffffff" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="White" data-action="click->{{controllerIdentifier}}#{{setColorCommand}}"
                data-{{controllerIdentifier}}-color-param="#ffffff"></button>
        <button class="color-option dropdown-item" type="button" style="background-color: #ffffff" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Remove color" 
                data-action="click->{{controllerIdentifier}}#executeCommand"
                data-{{controllerIdentifier}}-command-param="{{removeColorCommand}}"></button>
    </div>
</div>