<div class="mt-2">
    <div class="search-bar mb-3">
        <div class="input-group">
            <span class="input-group-text icon-search"></span>
            <input type="text" class="form-control shadow-none" id="gallerySearch" placeholder="file name">
        </div>
    </div>
    <div class="row row-cols-2 g-2 mb-3" id="galleryItems">

    </div>
    <nav>
        <ul class="pagination justify-content-center" id="galleryPagination">
            <li class="page-item">
                <button type="button" class="page-link shadow-none" id="galleryPreviousButton">
                    <span>&laquo;</span>
                </button>
            </li>
            <li class="page-item">
                <button type="button" class="page-link shadow-none" id="galleryNextButton">
                    <span>&raquo;</span>
                </button>
            </li>
        </ul>
    </nav>
</div>