@model Raytha.Web.Areas.Admin.Pages.SitePages.EditWidget

<h6 class="mb-3">Section Header</h6>

<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label" asp-for="ContentListForm.Headline"></label>
        <input type="text" class="form-control" asp-for="ContentListForm.Headline" 
               placeholder="e.g., Latest Posts">
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label" asp-for="ContentListForm.Subheadline"></label>
        <input type="text" class="form-control" asp-for="ContentListForm.Subheadline" 
               placeholder="Optional subheadline">
    </div>
</div>

<h6 class="mb-3 mt-4">Content Source</h6>

<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label" asp-for="ContentListForm.ContentType"></label>
        <select class="form-select" asp-for="ContentListForm.ContentType" 
                asp-items="@Model.ContentTypes">
            <option value="">-- Select Content Type --</option>
        </select>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label" asp-for="ContentListForm.PageSize"></label>
        <select class="form-select" asp-for="ContentListForm.PageSize">
            <option value="3">3 items</option>
            <option value="4">4 items</option>
            <option value="6">6 items</option>
            <option value="8">8 items</option>
            <option value="10">10 items</option>
            <option value="12">12 items</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label" asp-for="ContentListForm.OrderBy"></label>
        <select class="form-select" asp-for="ContentListForm.OrderBy">
            <option value="CreationTime desc">Newest First</option>
            <option value="CreationTime asc">Oldest First</option>
            <option value="LastModificationTime desc">Recently Modified</option>
            <option value="PrimaryField asc">Title (A-Z)</option>
            <option value="PrimaryField desc">Title (Z-A)</option>
        </select>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label" asp-for="ContentListForm.Filter"></label>
        <input type="text" class="form-control" asp-for="ContentListForm.Filter" 
               placeholder="e.g., IsPublished eq true">
        <div class="form-text">OData filter expression (optional)</div>
    </div>
</div>

<h6 class="mb-3 mt-4">Display Options</h6>

<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label" asp-for="ContentListForm.DisplayStyle"></label>
        <select class="form-select" asp-for="ContentListForm.DisplayStyle">
            <option value="cards">Cards</option>
            <option value="list">List</option>
            <option value="compact">Compact</option>
        </select>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label" asp-for="ContentListForm.Columns"></label>
        <select class="form-select" asp-for="ContentListForm.Columns">
            <option value="2">2 Columns</option>
            <option value="3">3 Columns</option>
            <option value="4">4 Columns</option>
        </select>
        <div class="form-text">For card display style</div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="ContentListForm.ShowImage">
            <label class="form-check-label" asp-for="ContentListForm.ShowImage">
                Show Image
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="ContentListForm.ShowDate">
            <label class="form-check-label" asp-for="ContentListForm.ShowDate">
                Show Date
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="ContentListForm.ShowExcerpt">
            <label class="form-check-label" asp-for="ContentListForm.ShowExcerpt">
                Show Excerpt
            </label>
        </div>
    </div>
</div>

<h6 class="mb-3 mt-4">View All Link (Optional)</h6>

<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label" asp-for="ContentListForm.LinkText"></label>
        <input type="text" class="form-control" asp-for="ContentListForm.LinkText" 
               placeholder="e.g., View all posts">
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label" asp-for="ContentListForm.LinkUrl"></label>
        <input type="text" class="form-control" asp-for="ContentListForm.LinkUrl" 
               placeholder="/posts">
    </div>
</div>

<h6 class="mb-3 mt-4">Appearance</h6>

<div class="mb-3">
    <label class="form-label" asp-for="ContentListForm.BackgroundColor"></label>
    <div class="input-group" style="max-width: 200px;">
        <input type="color" class="form-control form-control-color" 
               value="@(Model.ContentListForm?.BackgroundColor ?? "#ffffff")"
               onchange="document.getElementById('ContentListForm_BackgroundColor').value = this.value">
        <input type="text" class="form-control" asp-for="ContentListForm.BackgroundColor" placeholder="#ffffff">
    </div>
</div>

