<div class="dropdown-menu width-fit-content">
    <div class="d-flex flex-column overflow-auto" style="max-height: 150px">
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#setFontSize"
             data-{{controllerIdentifier}}-font-size-param="8px">
            <div class="flex-grow-1">8px</div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#setFontSize"
             data-{{controllerIdentifier}}-font-size-param="10px">
            <div class="flex-grow-1">10px</div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#setFontSize"
             data-{{controllerIdentifier}}-font-size-param="12px">
            <div class="flex-grow-1">12px</div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
        <div class="dropdown-item d-flex px-2 py-1" type="button"
             data-action="click->{{controllerIdentifier}}#setFontSize"
             data-{{controllerIdentifier}}-font-size-param="14px">
            <div class="flex-grow-1">14px</div>
            <div class="d-flex icon-empty" data-role="check-place"></div>
        </div>
    </div>
    <div class="dropdown-item d-flex px-2 py-1" type="button" data-action="click->{{controllerIdentifier}}#setFontSize"
         data-{{controllerIdentifier}}-font-size-param="16px">
        <div class="flex-grow-1">16px</div>
        <div class="d-flex icon-empty" data-role="check-place"></div>
    </div>
    <div class="dropdown-item d-flex px-2 py-1" type="button" data-action="click->{{controllerIdentifier}}#setFontSize"
         data-{{controllerIdentifier}}-font-size-param="18px">
        <div class="flex-grow-1">18px</div>
        <div class="d-flex icon-empty" data-role="check-place"></div>
    </div>
    <div class="dropdown-item d-flex px-2 py-1" type="button" data-action="click->{{controllerIdentifier}}#setFontSize"
         data-{{controllerIdentifier}}-font-size-param="24px">
        <div class="flex-grow-1">24px</div>
        <div class="d-flex icon-empty" data-role="check-place"></div>
    </div>
    <div class="dropdown-item d-flex px-2 py-1" type="button" data-action="click->{{controllerIdentifier}}#setFontSize"
         data-{{controllerIdentifier}}-font-size-param="32px">
        <div class="flex-grow-1">32px</div>
        <div class="d-flex icon-empty" data-role="check-place"></div>
    </div>
</div>